body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #47ae7b;
}
nav {
    background-color: #6cbc98;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 50px;
    box-shadow: 0 0 20px #2c6a4b;
}
.logo img {
    max-width: 75px;
    mix-blend-mode: multiply;
    scale: 1.6;
    padding-top: 10px;
}
.dropdown {
    position: relative;
}
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #333;
    min-width: 100px;
    border: none;
    border-radius: 10px;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
    z-index: 1;
}
.dropdown-content button {
    color: white;
    padding: 10px;
    text-decoration: none;
    display: block;
    background-color: #333;
    border: none;
    cursor: pointer;
    width: 100%;
    text-align: left;
}
.dropdown-content button:hover {
    background-color: #555;
}
.dropdown:hover .dropdown-content {
    display: block;
}
.cnt {
    padding-left: 10px;
}
.container {
    margin: 20px 0px;
    width: 100vw;
    height: 500px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-grow: 1;
    flex-shrink: 1;
}
.img {
    height: 450px;
    width: 450px;
    border-radius: 10%;
    box-shadow: inset 0 0 10px black;
    background-color: #6CBC98;
}
.img img {
    height: 100%;
    width: 100%;
    object-fit: contain;
}
.details {
    margin-right: 50px;
    height: 300px;
    width: 500px;
}
.details .name {
    font-family: "Libre Baskerville", serif;
    font-weight: 600;
    font-size: 3.5rem;
    font-style: normal;
    margin: 10px 0px;

}
.details .Designer {
    display: inline;
    font-family: "Poppins", sans-serif;
    font-weight: 150;
    width: max-content;
    font-style: italic;
    font-size: 2rem;
    letter-spacing: 5px;
    margin-left: 80px;
}
@media (max-width: 480px) {
    .logo img {
        max-width: 50px;
        scale: 1.5;
    }
    nav {
        padding-top: 20px;
    }
    .container {
        flex-direction: column;
    }
    .img,
    .details {
        height: 100%;
        width: 100%;
    }
}
